@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/testPic.jpg" alt="Flowers in Chania">
    <img src=@ViewBag.imgeBase alt="Red dot" />
</div>
